---
import LoginButton from '@/components/LoginForm';
import PostButton from '@/components/PostForm';
import CreateUser from '@/components/CreateUserForm';
import Metadatas from '@/components/Metadatas.astro';

const pageUrl = Astro.url.pathname;

const pageTitle = 'cfblog-practice';
const ogpImgUrl = 'ogpImage.png';
const robots = ['index', 'follow', 'noarchive', 'noimageindex'];
---

<html lang="ja">
  <head prefix="og: https://ogp.me/ns#">
    <Metadatas
      pageTitle={pageTitle}
      subPath={pageUrl}
      ogpImgUrl={ogpImgUrl}
      robots={robots}
    />
  </head>
  <body>
    <h1>Cfblog-practice</h1>
    <CreateUser client:only="react" ; />
    <LoginButton client:only="react" ; />
    <PostButton client:only="react" ; />
  </body>
</html>
