{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "tabWidth": 4
      }
    }
  ],
  "printWidth": 80,
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2
}
